.react-calendar {
  background: #21273D;
  width: 100%;
  height: 500px;
  border: none;
}  

.react-calendar__navigation__label__labelText {
  font-size: 1.1rem;
  color: #D6E4F0;
}

.react-calendar__navigation__arrow {
  color: #D6E4F0;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #474E68;
}

.react-calendar__month-view__days {
  height: 410px;
}

.react-calendar__month-view__weekdays {
  color: #D6E4F0;
}

.react-calendar__tile--now:enabled {
  background: #474E68;
}

.react-calendar__tile {
  color: white;
}

.react-calendar__month-view__days__day--weekend {
  color: #F05454;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #748B9C;
}

.react-calendar__tile:enabled:hover {
  color:#21273D;
  background-color: whitesmoke;
}

button abbr {
  font-size: 1.2rem;
}

.events-list-empty {
  font-size: 1.2rem;
  background: goldenrod;
  text-align: center;
  width: 500px;
  height: 180px;
  padding-top: 25px;
}

.event-indicator {
  background-color: #474E68;
  width: 12px;
  height: 12px;
  margin: auto;
  margin-top: 5px;
  border-radius: 50%;
}