.add-new-event__container {
  /* position: absolute;
  top: 240px;
  left: 310px; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 12px;
  padding: 5px;
  background-color: greenyellow;
  width: 500px;
  height: 60px;
  z-index: 1;
}

.add-new-event__container button {
  font-size: 17px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}