.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #6B728E;
  width: 500px;
  height: 330px;
  padding: 10px;
  border-radius: 5px;
}

.new-event_information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.new-event_input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-event_input label {
  font-size: 18px;
  margin-bottom: 3px;
}

.new-event_input textarea {
  font-size: 17px;
  background-color: #BBBFCA;
  padding: 5px;
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
}

.new-event_input textarea:focus {
  background-color: #F4F4F2;
}

.new-event_actions {
  display: flex;
  justify-content: right;
  height: 30px;
}

.new-event_actions button {
  font-size: 16px;
  height: 100%;
  width: 80px;
  margin-left: 12px;
  padding: 5px 8px;
  cursor: pointer;
}

.new-event_actions button:nth-child(1):active {
  color: #EE2B47;
}

.new-event_actions button:nth-child(2):active {
  color: #5B9A8B;
}