.events-container {
  font-family: Tahoma, Verdana, sans-serif;
  background-color: #6B728E;
  width: 500px;
  height: 258px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
  border-radius: 5px 5px 0 0;
}

.events-container::-webkit-scrollbar {
  width: 8px;
}

.events-container::-webkit-scrollbar-track {
  background: #474E68;
  border-radius: 5px;
}

.events-container::-webkit-scrollbar-thumb {
  background: #BBBFCA; 
  border-radius: 5px;
}

.event {
  background: aliceblue;
  height: 95px;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 2px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
}

.event:hover {
  border: 1.5px solid #EE2B47;
}

.event::-webkit-scrollbar {
  width: 6px;
}

.event::-webkit-scrollbar-track {
  background: #474E68;
  border-radius: 5px;
}

.event::-webkit-scrollbar-thumb {
  background: #BBBFCA; 
  border-radius: 5px;
}

.event h3 {
  margin-bottom: 8px;
  border-bottom:1px solid #2E79BA;
}

@media screen and (max-width: 480px) {
  .events-container {
    width: 320px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .events-container {
    width: 350px;
  }
}