.header-container {
  display: flex;
  justify-content: space-between;
  background: grey;
  width: 100%;
  height: 200px;
}

.profile-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 350px;
}

.profile-img-container img {
  position: absolute;
  width: 180px;
  height: 180px;
  background: cadetblue;
  border-radius: 50%;
  padding: 3px;
  margin-top: 10px; 
  z-index: 1;
}

.profile-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: bisque;
  width: 30%;
  height: 100%;
  padding: 15px 10px;
}

.profile-information {
  display: flex;
  gap: 10px;
}

.profile-information__fields h3, .profile-information__data h3 {
  padding: 2px;
  margin-bottom: 5px;
}

.profile-information__fields h3 {
  text-align: right;
}

.profile-information-container button {
  font-size: 16px;
  width: 65%;
  height: 28px;
  padding: 2px 0;
  cursor: pointer;
}

.profile-name {
  position: absolute;
  top: 155px;
  background-color: cadetblue;
  width: 100%;
  text-align: center;
  padding: 5px 0 5px 100px;
}

.profile-information__form {
  position: absolute;
  top: 20px;
  left: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: paleturquoise;
  width: 500px;
  height: 290px;
  padding: 15px 10px;
}