.profile-information__container {
  font-family: 'Gill Sans MT', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #6B728E;
  width: 505px;
  height: 250px;
  padding: 15px 12px;
  border-radius: 5px;
}

.profile-information__form {
  display: flex;
  flex-direction: column;
}

.profile-information__form label {
  font-size: 19px;
  font-weight: 500;
  color: #000;
}

.new-user-info, .new-user-info__section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-information__form > .new-user-info:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-information__actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.profile-information__actions button:nth-child(1):active {
  color: #EE2B47;
}

.profile-information__actions button:nth-child(2):active {
  color: #5B9A8B;
}