.app-container {
  position: relative;
  width: 1100px;
  height: 700px;
}

.header-container {
  background: grey;
  width: 100%;
  height: 200px;
}

.react-calendar {
  width: 100%;
  height: 500px;
}

.react-calendar__navigation__label__labelText {
  font-size: 1.1rem;
}

.react-calendar__month-view__days {
  height: 410px;
}

.react-calendar__tile--now:enabled {
  background: aliceblue;
}

button abbr {
  font-size: 1.2rem;
}

.event-indicator {
  background-color: aqua;
  width: 12px;
  height: 12px;
  margin: auto;
  margin-top: 5px;
  border-radius: 50%;
}

.events-container {
  position: absolute;
  top: 330px;
  left: 310px;
  gap: 10px;
  background: salmon;
  width: 500px;
  height: 350px;
  padding: 8px;
}

.event {
  background: aliceblue;
  height: 80px;
}